<div class="row">
    <div class="col-lg-2 col-md-6 col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1636103986829-9f05e4ac792c?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&amp;ixlib=rb-1.2.1&amp;w =1000&amp;q =80" /> ">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Hiệu năng vượt trội - Chip Apple A15 Bionic mạnh mẽ, hỗ trợ mạng 5G tốc độ cao
                    Không gian hiển thị sống động - Màn hình 6.7" Super Retina XDR độ sáng cao, sắc nét
                    Trải nghiệm điện ảnh đỉnh cao - Cụm 3 camera 12MP, hỗ trợ ổn định hình ảnh quang học
                    Tối ưu điện năng - Sạc nhanh 20 W, đầy 50% pin trong khoảng 30 phút
                </p>
                <a href="#" class="btn btn-primary">Mua hang</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1636103986829-9f05e4ac792c?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&amp;ixlib=rb-1.2.1&amp;w =1000&amp;q =80" /> ">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Hiệu năng vượt trội - Chip Apple A15 Bionic mạnh mẽ, hỗ trợ mạng 5G tốc độ cao
                    Không gian hiển thị sống động - Màn hình 6.7" Super Retina XDR độ sáng cao, sắc nét
                    Trải nghiệm điện ảnh đỉnh cao - Cụm 3 camera 12MP, hỗ trợ ổn định hình ảnh quang học
                    Tối ưu điện năng - Sạc nhanh 20 W, đầy 50% pin trong khoảng 30 phút
                </p>
                <a href="#" class="btn btn-primary">Mua hang</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-4">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1636103986829-9f05e4ac792c?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&amp;ixlib=rb-1.2.1&amp;w =1000&amp;q =80" /> ">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Hiệu năng vượt trội - Chip Apple A15 Bionic mạnh mẽ, hỗ trợ mạng 5G tốc độ cao
                    Không gian hiển thị sống động - Màn hình 6.7" Super Retina XDR độ sáng cao, sắc nét
                    Trải nghiệm điện ảnh đỉnh cao - Cụm 3 camera 12MP, hỗ trợ ổn định hình ảnh quang học
                    Tối ưu điện năng - Sạc nhanh 20 W, đầy 50% pin trong khoảng 30 phút
                </p>
                <a href="#" class="btn btn-primary">Mua hang</a>
            </div>
        </div>
    </div>




